@import url('../../vars/cssVars.css');
.contacts{
    margin-top: var(--margin-medium);
}

body{
    background: url('../../svg/icons8-github.svg');
}
.contact-items{
    width: fit-content;    
    gap: var(--gap-medium);
    display: flex;
}
.contact-item{
    margin: 0 auto;
    width: 40px;
    height: 50px;
    filter: var(--filter);
}


@media (max-width:768px) {
    .contact-item{
        mix-blend-mode: difference;
        filter: invert(1);
        margin: 0 auto;
        width: 2rem;
    }
}